/* --- FONTS --- */

@font-face {
    font-family: "Regular";
    font-display: block;
    font-style: normal;
    src:
        local("Roboto Mono"),
        url("/font/RobotoMono-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "Title";
    font-display: block;
    font-style: normal;
    src: url("/font/Bungee-Regular.woff2") format('woff2');
}
