/* --- COLORS --- */
:root {
    --black: #050505;
    --white: #f0f0f0;
    --yellow: #fff000;

    --bg: var(--yellow);
    --fg: var(--black);
    --acc: var(--white);

    --app-border: 0.75rem;

}
