/* --- COLORS --- */
:root {
    --black: #242424;
    --white: #d4d4d4;
    --yellow: #ffee00;

    --bg: var(--yellow);
    --fg: var(--black);
    --acc: var(--white);

    --app-border: 0.75rem;

}
