ol.flyers {
    display: flex;
    li {
        margin: 1rem;
        img {
            width: 100%;
            max-width: 400px;
            //margin: 1rem;
            // border: 10px solid black;
            box-shadow: 0px 0px 10px rgba(0,0,0,.8);
        }
    }
}
