ol.records {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
    li.record {
        background-color: red;
        position: relative;
        display: block;
        border: var(--app-border) solid var(--fg);
        img.cover {
            width: 100%;
        }
        .info {
            position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
            z-index: 1000;
            //background: var(--bg);
        }
    }
}

article.record {
    img.cover {
        //border: var(--app-border) solid var(--fg);
    }
}
