<footer>
    <a href="/record/" class="link" title="⸸">RECORD</a>
    <i class="icon-radioactive"></i>
    <a href="/event/" class="link" title="⸸">EVENT</a>
    <i class="icon-radioactive"></i>
    <a href="/laerm.m3u" class="link" title="⸸" download>M3U</a>
    <i class="icon-radioactive"></i>
    <a href="https://lauterlaerm.bandcamp.com" class="link" rel="external" title="⸸">BANDCAMP</a>
    <i class="icon-radioactive"></i>
    <a href="https://www.discogs.com/label/2078152-Lauter-L%C3%A4rm-Records" class="link" rel="external" title="⸸">DISCOGS</a>
    <i class="icon-radioactive"></i>
    <a href="mailto:info@laerm.org" class="link" title="⸸">MAIL</a>
</footer>
